.dropdownContainer {
  position: relative;

  .dropdownButton {
    color: $text-white;

    svg {
      fill: $text-white;
    }
  }
  .dropdown {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 40px;
    right: 25px;
    background-color: $dark-box-bg;
    border-radius: 10px;
    box-shadow: $shadow;
    transform: translate(0, 0);
    transition: all 0.5s ease-in;
    visibility: hidden;
    opacity: 0;
    border: 2px solid $dark-300;

    &.open {
      transform: translate(0, 20px);
      visibility: visible;
      opacity: 1;
    }
    &:before {
      content: "";
      position: absolute;
      top: -8px;
      right: 5px;
      width: 0;
      height: 0;
      box-shadow: $shadow;
      border-top: 8px solid $dark-300;
      border-right: 8px solid $dark-300;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
      transform: rotate(-45deg);
      mix-blend-mode: multiple;
    }
    .dropdownItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 25%;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.3s ease-in;

      &:hover {
        color: $text-hover;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $dark-300;
      }
    }
  }
}
