.homePage {
  width: calc(100% - 280px);
  padding: 36px;

  .header {
    display: flex;
    gap: 24px;
    align-items: center;

    margin-bottom: 36px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 36px;
  }

  .lineChartContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 36px;
  }

  .barChartsContainers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .homePage {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 80px);
    padding: 12px;

    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .main {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
    }

    .barChartsContainers {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
    }
  }
}
