.input {
  font-size: 16px;
  color: #3f3f3f;
  background-color: #ffffff;
  border-radius: 6px;
  height: 45px;
  caret-color: #3f3f3f;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #3f3f3f;
  }
}

.fullWidth {
  width: 100%;
}
