.input {
  font-size: 18px;
  color: #d3d3d3;
  background-color: #161618;
  border-radius: 5px;
  height: 45px;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #d3d3d3;
  }
}

.fullWidth {
  width: 100%;
}
