.button {
  background-color: $button;
  padding: 12px 32px;
  border-radius: 5px;
  color: $light;
  font-size: 18px;
  transition: 0.4s ease-in-out;

  &:hover {
    background-color: $button-hover;
  }
}

.fullWidth {
  width: 100%;
}
