//BG Colors
$dark-bg: #1e1e20;
$box-bg: #252528;
$box-bg2: #312f2f;
$svg-box: #2f2f34;

//Text Colors
$white: rgba(255, 255, 245, 0.86);
$light: #f3f3f3;
$dark-text: #757575;

//Others
$shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);

$button: #646cff;
$button-hover: rgba(100, 108, 255, 0.8);
$hover-nav: #9499ff;

//Lama BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bgg: #222b3c;

//Lama Text
$main-color: #fff;
$soft-color: #ddd;
$dark-color: #2a3447;
