/* :root {
  --dark-bg: #1e1e20;
  --white: rgba(255, 255, 245, 0.86);
  --box-bg: #252528;
  --button: #646cff;
  --hover-nav: #9499ff;
  --svg-box: #1e1e20;
}
 */

$dark-bg: #1e1e20;
$button: #646cff;
$white: rgba(255, 255, 245, 0.86);
$box-bg: #252528;
$hover-nav: #9499ff;
$svg-box: #1e1e20;
