/* .dateRangeContainer {
  position: relative;
  z-index: 1;

  .dateRange {
    position: absolute;
    right: 30px;
    .rdrDefinedRangesWrapper {
      display: none;
    }
    .rdrDateDisplayWrapper {
      background-color: $dark-box-bg;
    }
    .rdrDateDisplayItemActive {
      border-color: $primary-100;
    }
    .rdrCalendarWrapper {
      background-color: $dark-300;

      .rdrMonthPicker,
      .rdrYearPicker {
        select {
          color: $text-white;
        }
      }

      .rdrInRange,
      .rdrDay,
      .rdrDayHovered,
      .rdrDayWeekend,
      .rdrDayEndOfWeek,
      .rdrStartEdge,
      .rdrEndEdge {
        color: $primary-100 !important;
      }

      .rdrDayPassive,
      .rdrDayDisabled {
        background-color: $dark-300;
      }
    }
    .rdrDayHovered {
      border-color: red !important;
    }
    .rdrDayToday .rdrDayNumber span:after {
      background-color: $primary-100;
    }
  }
}
 */
