.dropdown {
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
  width: 300px;
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    h3 {
      font-size: 14px;
      color: #666768;
      line-height: 16px;
    }
    h5 {
      font-size: 16px;
      color: #3f3f3f;
      line-height: 22px;
    }
  }

  .content {
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;

    li {
      width: 100%;
      padding: 9px 12px;
      cursor: pointer;
    }
  }
}

.datePicker {
  position: absolute;
  top: 100%;
}
